.glass-panel {
    background: rgba(18, 18, 18, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.font-minecraft {
    font-family: 'VT323', monospace;
    letter-spacing: 0.05em;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}


.xterm-viewport {
    overflow-y: auto !important;
}


canvas {
    width: 100% !important;
    height: 100% !important;
}